@import "reset.css";


/*---- fonts------ */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,700i');

@font-face {
    font-family: 'Socialico';
    src: url(../fonts/Socialico.ttf);
}
@font-face {
    font-family: 'Satellite';
    src: url(../fonts/Satellite.otf);
}
@font-face {
    font-family: 'Flatform Light';
    src: url(../fonts/Flatform-Light.otf);
}


/* site */

html, body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	background-color: #fff; 
}
.wrapper {
	max-width: 100%;
	width: 1200px;
	margin: 0 auto;
}

header {
	height: 130px;
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
}
nav li:nth-child(2) {
	width: 72px;
}
nav li a {
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #6e6e6e;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}
nav li {
	margin-left: 48px;
}

nav {
	flex: 1 1 78%;
}
.logo {
	font-family: "Flatform Light", sans-serif;
	font-size: 40px;
	color: #4d4d4d;
	flex: 1 1 100%; 
}

.billboard {
	background: url('../img/bg-image.jpg') no-repeat center center fixed;
	background-size: cover;
	/* width: 100%; */
	padding: 8px 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.billboard-content {
	margin: 225px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.billboard h1 {
	font-family: "Satellite", sans-serif;
	font-size: 50px;
	color: #4d4d4d;
	flex: 1 1 100%;
}

.billboard p {
	margin-top: 30px;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #4d4d4d;
	flex: 1 1 100%;
}
.billboard button {
	margin-top: 42px;
	width: 290px;
	height: 48px;
	font: 600 18px "Open Sans";
	text-transform: uppercase;
	background: #4d4d4d;
	color: #fff;
	cursor: pointer;
	border-style: none;
	border-radius: 25px;
	outline: none;
	flex: 1 1 100%;
}
.billboard button:hover {
	background: rgb(110, 110, 110);
}
.billboard button:active {
	box-shadow: inset -2px -3px 5px #505050;
}

/* SERVICES */

#services {
	padding-top: 100px;
}

.content-services {
	padding-bottom: 100px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	border-bottom: 1px solid #e7e7e7;
}
.stationery-item, .timer-item, .camera-item {
	flex: 1 1 0;

}

.stationery-item h3, .timer-item h3, .camera-item h3 {
	margin-top: 35px;
	text-transform: uppercase;
	font: bold 22px/22px "Open Sans";
	color: #4d4d4d;
}

.stationery-item p, .timer-item p, .camera-item p {
	margin-top: 34px;
	font: normal 14px/22px "Open Sans";
	color: #7e7e7e;
}

/* OUR_STORY */

.video {
	margin: 80px 0 100px 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	color: #4d4d4d;
}

.video h2 {
	text-align: center;
	font: bold 30px/30px "Open Sans";
	text-transform: uppercase;
}

.video p {
	margin-top: 20px;
	text-align: center;
	font: normal 16px/16px "Open Sans";
}
.video iframe {
	margin-top: 80px;
	width: 60%;
	height: 60vh;
	border-radius: 4px;
}

/* WORK */

#work h1 {
	border-top: 1px solid #e7e7e7;
	padding-top: 15px;
	font: 600 30px/30px "Open Sans";
	text-align: center;
	text-transform: uppercase;
	color: #4d4d4d;
}
.brand-group {
	margin: 100px 0;
	display: flex;
	justify-content: space-between;
}
.brand-group .brand {
	max-width: 23%;
	height: 320px;
	background: #f7f7f7;
	flex: 1 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.brand-group .brand:hover::after {
	content: attr(data-title);
	padding: 1em;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font: 600 16px "Open Sans";
	color: #fff;
	background: #575757;
	z-index: 1;
	transition: all 500ms ease;
}	
.brand-group .brand .br-name {
	text-transform: uppercase;
	font: bold italic 25px "Open Sans";
	color: #d2d1d1;
}
.brand-group .brand .tagline {
	font: 400 10px "Open Sans";
	color: #d2d1d1;
}

/* JOURNAL */

.subscribers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 360px;
	text-align: center;
	background-color: #f5f5f5;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.subscribers h2 {
	text-transform: uppercase;  
	font: 600 30px/34px "Open Sans";
	color: #4d4d4d;
}
.subscribers p {
	padding-top: 25px;
	padding-bottom: 50px;
	font: normal 14px "Open Sans";
	color: #3b3b3b;
}
.subscribers button {
	width: 308px;
	padding: 13px;
	align-self: center;
	font: 600 18px/20px "Open Sans";
	text-transform: uppercase;
	background: #f5f5f5;
	color: #4d4d4d;
	cursor: pointer;
	border: 2px solid #4d4d4d;
	border-radius: 30px;
	outline: none;
	transition: 0.2s;
}
.subscribers button:hover {
	background: rgba(215, 215, 215, 0.9);
}
.subscribers button:active {
	background: rgb(245, 245, 245);
}
.social {
	margin: 70px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-fb, .icon-tw, 
.icon-dribble, .icon-google {
	margin: 30px;
	padding: 18px;
	flex-basis: 70px;
	text-align: center;
	font: normal 30px "Socialico";
	border: 2px solid #4d4d4d;
	cursor: pointer;
}
.icon-fb a, .icon-tw a, 
.icon-dribble a, .icon-google a {
	color: #4d4d4d;	
}
.icon-fb:hover{
	background: #3b5998;
}
.icon-tw:hover{
	background: #00aced;
} 
.icon-dribble:hover{
	background: #ea4c89;
}
.icon-google:hover {
	background: #dd4b39;
}
.icon-fb a:hover, .icon-tw a:hover, 
.icon-dribble a:hover, .icon-google a:hover {
	color: #fff;	
}

#contact {
	padding: 100px 0;
	font: 600 18px/30px "Open Sans";
	background: #3b3b3b;
	color: #fff;

}

footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.location address, .company li, 
.support li, .info span {
	font: normal 14px/24px "Open Sans";
}
.location h5, .company h5, 
.support h5, .info h5 {
	padding-bottom: 25px;
}
.company a, .support a {
	color: #fff;
}



@media (max-width: 800px){
	header {
		height: 100px;
		flex-wrap: wrap;
	}
	.logo {
		flex: 1 1 50%;
	}
	.billboard {
		padding: 0;
	}
	.content-services {
		flex-direction: column;
	}
	.brand-group {
		margin: 60px 0;
	}
	.brand-group .brand {
		width: 23%;
		height: 220px;
	}
	#services {
		padding-top: 40px;
	}

	.content-services {
		flex-direction: column;
		padding-bottom: 50px;
	}
	.content-services div {
		margin-top: 12px;
	}
	.video {
	margin: 50px 0 60px 0;
	}
	#contact {
		padding: 40px 0;
	}
	footer {
		padding-left: 200px;
		flex-direction: column;
	}
	footer .company {
		display: none;
	}
	footer .info {
		display: none;
	}
	
}

@media (max-width: 520px){
	.logo, .nav li {
		flex-basis: auto;
	}
	nav li:first-child {
		margin-left: 0;
	}

}